body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
.overlay {
  width: 100%;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -2;
}
.side-bar {
  width: 300px;
  height: 110vh;
  position: fixed;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 3;
  transition: all 0.5s ease-in-out;
  left: -300px;
}
.side-bar i {
  position: relative;
  top: -320px;
  z-index: 2;
  left: 100px;
}
ul {
  width: 85%;
  height: 50%;

  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  width: 100%;
  height: 18%;
  list-style: none;

  position: relative;
  left: -20px;
  font-size: 30px;
}
li a {
  color: black;
}
.nav-side {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.fa-cart-shopping {
  position: relative;

  color: black;
}
.nav-bar {
  width: 92%;
  height: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
i {
  font-size: 20px;
  cursor: pointer;
}
input {
  width: 68%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(95, 93, 93);
  background-color: transparent;
}
.logo {
  position: relative;
  left: -80px;
}
.nav-user {
  width: 7%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seacrh-form {
  display: flex;
}
/* shop */
section {
  width: 90%;
  height: 400vh;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: 200px;
}
.filter-side {
  width: 20%;
  height: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
a i {
  margin-right: 20px;
}
.filter-side p {
  position: relative;
  top: 30px;
  font-weight: bold;
  font-size: 30px;
}
.filter-page {
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  color: black;
  position: relative;
  top: 30px;
  margin-bottom: 50px;
}
.products-side {
  width: 74.2%;
  height: 90%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  grid-gap: 1rem;
}
.product {
  cursor: pointer;
}
.search {
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  position: relative;
  left: 20px;
  border-radius: 5px;
  cursor: pointer;
  top: 10px;
  font-weight: bold;
}
.section-sh{
   background-color: black;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-user {
  width: 7%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* make sure nav icons are black */
.nav-user i {
  color: black;
}
.side-bar {

  width: 300px;
  height: 110vh;
  position: fixed;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 3;
  transition: all 0.5s ease-in-out;
  left: -300px;
}
.side-bar i {
  position: relative;
  top: -320px;
  z-index: 2;
  left: 100px;
}
.user-bar{
  width: 96.5%;;
  height: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  font-weight: bold;
  position: fixed;
  top: 0px;
  z-index: 3;
}
.checkout-info{
  width: 40%;
  height: 80vh;
  background-color: #f5f5f5;
  padding: 20px;
  margin-left: 100px;
}